* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
:root {
    --bg-green: #89C15E; 
    --bg-white: #ffffff;
    --bg-dark-green: #004429;
    --bg-red: #FF0000;
}
body {
    background-color: var(--bg-green);
}

/*      custom css properties      */
.link {
    text-decoration: none;
}
.list-style-none {
    list-style-type: none;
}
.shadow {
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.d-block {
    display: block;
}
.sticky {
    position: sticky;
}
.top-0 {
    top: 0;
}
.flex {
    display: flex;
}
.dir-row {
    flex-direction: row;
}
.dir-col {
    flex-direction: column;
}
.justify-center {
    justify-content: center;
}
.justify-space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}
.text-white {
    color: #fafafa;
}
.text-gray-shade {
    color: #656565;
}
.text-black-shade {
    color: #252525;
}
.text-center {
    text-align: center;
}
.border-none {
    border: none;
}
.outline-none {
    outline: none;
}
.hide {
    display: none;
}
.float-r {
    float: right;
}
.float-l {
    float: left;
}
.v-visibility {
    visibility: visible;
}
.h-visibility {
    visibility: hidden;
}
.cursor-pointer {
    cursor: pointer;
}
.bg-transparent {
    background: transparent;
}
.margin-right-25 {
    margin-right: 25px;
} 

.text-14 {
    font-size: 14px;
}
.text-16 {
    font-size: 16px;
}
.text-18 {
    font-size: 18px;
}
.text-24 {
    font-size: 24px;
}
.text-28 {
    font-size: 28px;
}
.text-35 {
    font-size: 35px;
}
.text-38 {
    font-size: 38px;
}
.text-80 {
    font-size: 80px;
}

.font-wt-400 {
    font-weight: 400;
}
.font-wt-500 {
    font-weight: 500;
}
.font-wt-600 {
    font-weight: 600;
}
.font-wt-700 {
    font-weight: 700;
}
.line-height-46 {
    line-height: 46px;
}
.line-height-90 {
    line-height: 90px;
}

/*          main page css                */
.heading-score-container {
    border: 2px solid #FFFFFF;
    border-radius: 13px;
    width: 700px;
    height: 120px;
    margin: 40px auto;
    font-family: Roboto;
    padding: 12px;
}
.computer-score-container, .user-score-container {
    border-radius: 9px;
    background-color: var(--bg-white);
    width: 110px;
    height: 100px;
    padding: 5px;
}



/*          celebration page css         */
.celebration-container {
    font-family: Roboto;
}
.stars-trophy-container {
    width: 100vw;
    position: relative;
    margin-top: 80px;
}
.stars {
    width: 500px;
    height: 300px;
    z-index: 1; 
}
.trophy {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 100px;
    z-index: 2; 
}
.content-container {
    margin-top: 20px;
}
.content-container div {
    width: 418px;
}
.hurray {
    letter-spacing: 5px;
}
.winning-msg {
    letter-spacing: 4.5px;
}
.play-btn {
    border-radius: 9px;
    font-family: Roboto;
    color: #6B6B6B;
    background-color: var(--bg-white);
    padding: 10px 30px;
    letter-spacing: 1.25px;
    bottom: 65px;
    position: absolute;
}
.rules-btn {
    position: absolute;
    right: 40px;
    bottom: 40px;
    border-radius: 10px;
    border: 2px solid #FFFFFF;
    font-family: Roboto;
    padding: 5px 20px;
    color: #FFFFFF;
    letter-spacing: 1px;
}

/*          rules container              */
.rules-container {
    width: 280px;
    border: 7px solid #FFFFFF;
    border-radius: 13px;
    padding: 12px;
    background-color: var(--bg-dark-green);
    bottom: 80px;
    right: 30px;
    position: absolute;
    z-index: 3;
}
.list-container {
    list-style-type: none;
    padding-left: 18px;
}
.list-container li {
    font-family: Roboto;
    position: relative;
    margin-bottom: 8px;
}
.list-container li::before {
    content: '';
    position: absolute;
    left: -20px;
    top: 20px;
    width: 8px;
    height: 8px;
    background-color: #FFD600;
    display: inline-block;
}
.rules-heading {
    font-family: Roboto;
    margin: 10px auto 18px auto;
}
.cross-btn {
    background-color: var(--bg-red);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 5px solid #FFFFFF;
    position: absolute;
    right: -30px;
    top: -30px;
}
.cross-icon {
    width: 30px;
    height: 30px;
}